valentishop/.env
__pycache__
valentishop/db.sqlite3
/oscar
valentishop/valentishop/static_media
.env.dev
.env.staging
.env.staging.proxy-companion
.env.prod
.env.prod.proxy-companion
valentishop/cache
valentishop/valentishop/__pycache__
.env.dev
valentishop/product_images
valentishop/staticfiles
valentishop/mediafiles
