{% load i18n %}
{% load category_tags %}

{% block navbar_collapse %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% block nav %}
            <ul class="navbar-nav me-auto">
                {% block nav_items %}
                    <!-- Триггер для модального окна -->
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#catalogueModal">
                            {% trans "Browse store" %}
                        </a>
                    </li>
                {% endblock %}
            </ul>
        {% endblock %}
    </div>
{% endblock %}


<!-- Модальное окно для каталога -->
<div class="modal fade" id="catalogueModal" tabindex="-1" aria-labelledby="catalogueModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="catalogueModalLabel">{% trans "Catalogue" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Модальное тело -->
            <div class="modal-body">
            {% category_tree depth=1 as root_categories %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for category in root_categories %}
                    <div class="col">
                        <a href="{{ category.get_absolute_url }}" class="text-decoration-none text-dark font-weight-bold">
                        {{ category.name }}
                        </a>

                        <!-- Второй уровень категорий -->
                        {% category_tree depth=1 parent=category.category as second_level_categories %}
                        {% if second_level_categories %}
                            <ul class="list-unstyled mt-2">
                                {% for sub_category in second_level_categories %}
                                    <li>
                                        <a href="{{ sub_category.get_absolute_url }}" class="text-decoration-none text-dark">
                                        {{ sub_category.name }}
                                        </a>
                                        <!-- Третий уровень категорий -->
                                        {% category_tree depth=1 parent=sub_category.category as third_level_categories %}
                                        {% if third_level_categories %}
                                            <ul class="list-unstyled ms-3">
                                                {% for third_category in third_level_categories %}
                                                    <li>    
                                                        <a href="{{ third_category.get_absolute_url }}" class="text-decoration-none text-dark">
                                                            {{ third_category.name }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
</div>
    {% block extrascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}