{% extends "oscar/base.html" %}
{% load static %}

{% block styles %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    {{ block.super }}
{% endblock %}

{% block layout %}
  <header>
    {% block navigation %}
      {% include "oscar/partials/nav_primary copy.html" %}
    {% endblock %}
  </header>

  {% block content_wrapper %}
  <main class="container mx-auto px-4">
    <div class="py-6">
      {% block breadcrumbs %}{% endblock %}
      {% block header %}
        <div class="mb-4">
          <h1 class="text-2xl font-semibold">{% block headertext %}{% endblock %}</h1>
        </div>
      {% endblock %}

      {% include "oscar/partials/alert_messages.html" %}
      {% block subnavigation %}{% endblock %}

      <div class="content">
        {% block subheader %}{% endblock %}
        <div id="content_inner">{% block content %}{% endblock %}</div>
      </div>
    </div>
  </main>
  {% endblock %}

  {% include "oscar/partials/footer.html" %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "oscar/js/bootstrap4/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "oscar/js/oscar/ui.js" %}"></script>
{% endblock %}

{% block extrascripts %}
    {% include "oscar/partials/extrascripts.html" %}
    {{ block.super }}
{% endblock %}

{% block onbodyload %}
    {{ block.super }}
    oscar.init();
{% endblock %}
