{% extends "oscar/customer/baseaccountpage.html" %}
{% load i18n %}

{% block tabcontent %}
  {% if wishlists %}
    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200 text-sm text-gray-700">
        <thead class="bg-gray-100">
          <tr>
            <th class="text-left px-4 py-2">{% trans 'Name' %}</th>
            <th class="text-left px-4 py-2">{% trans 'Number of products' %}</th>
            <th class="text-left px-4 py-2">{% trans 'Action' %}</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-100">
          {% for wishlist in wishlists %}
            <tr>
              <td class="px-4 py-2">
                <a href="{% url 'customer:wishlists-detail' key=wishlist.key %}" class="text-blue-600 hover:underline">
                  {{ wishlist.name }}
                </a>
              </td>
              <td class="px-4 py-2">{{ wishlist.lines.count }}</td>
              <td class="px-4 py-2">
                <div class="relative inline-block text-left">
                  <a href="{% url 'customer:wishlists-detail' key=wishlist.key %}" class="inline-flex items-center px-3 py-1.5 text-sm bg-gray-200 rounded hover:bg-gray-300">
                    {% trans 'View' %}
                  </a>
                  <div class="mt-1 relative">
                    <button type="button" class="ml-2 inline-flex items-center px-3 py-1.5 bg-gray-200 rounded hover:bg-gray-300">
                      &#x25BC;
                    </button>
                    <div class="absolute z-10 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 hidden group-hover:block">
                      <ul class="py-1 text-sm text-gray-700">
                        <li>
                          <a href="{% url 'customer:wishlists-update' key=wishlist.key %}" class="block px-4 py-2 hover:bg-gray-100">{% trans 'Wish list settings' %}</a>
                        </li>
                        {% if wishlist.is_shareable %}
                          <li>
                            <a href="{{ wishlist.get_shared_url }}" class="block px-4 py-2 hover:bg-gray-100 clipboard-item">
                              {% trans 'Copy sharing link' %}
                            </a>
                          </li>
                        {% endif %}
                        <li>
                          <a href="{% url 'customer:wishlists-delete' key=wishlist.key %}" class="block px-4 py-2 hover:bg-gray-100">
                            {% trans 'Delete' %}
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% include "oscar/partials/pagination.html" %}
  {% else %}
    <p class="text-gray-600">{% trans "You don't have any wish lists yet." %}</p>
  {% endif %}

  <p class="mt-4">
    <a href="{% url 'customer:wishlists-create' %}" class="inline-flex items-center px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium rounded-md">
      {% trans 'Create a new wish list' %}
    </a>
  </p>
{% endblock %}

{% block onbodyload %}
  {{ block.super }}
  oscar.customer.wishlists.init();
{% endblock %}
