{% load i18n %}
{% load currency_filters %}

<div id="basket_totals">
    <table class="w-full text-sm border-t border-gray-200">
        <tbody>
            <tr>
                <th colspan="2" class="py-3 text-left text-lg font-semibold text-gray-800">{% trans "Basket" %}</th>
            </tr>

            {% with discounts=order.basket_discounts %}
                {% block discount_totals %}
                    {% if discounts %}
                        <tr>
                            <td class="py-2">{% trans "Basket total (before discounts)" %}</td>
                            <td class="py-2 text-right text-gray-800">
                                {{ order.basket_total_before_discounts_incl_tax|currency:order.currency }}
                            </td>
                        </tr>
                        {% for discount in discounts %}
                            <tr>
                                <td class="py-2 text-green-700">
                                    <span class="inline-block bg-green-100 text-green-800 px-2 py-0.5 rounded text-xs font-medium">
                                        {% trans "Discount" %}
                                    </span>
                                    {{ discount.offer }}
                                </td>
                                <td class="py-2 text-right text-red-600">
                                    - {{ discount.amount|currency:order.currency }}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endblock %}
                {% block basket_total %}
                    {% if discounts %}
                        <tr>
                            <th class="py-2 font-semibold text-gray-800">{% trans "Basket total (after discounts)" %}</th>
                            <th class="py-2 text-right text-gray-800 font-semibold">
                                {{ order.basket_total_incl_tax|currency:order.currency }}
                            </th>
                        </tr>
                    {% else %}
                        <tr>
                            <th class="py-2 font-semibold text-gray-800">{% trans "Basket total" %}</th>
                            <th class="py-2 text-right text-gray-800 font-semibold">
                                {% if show_tax_separately %}
                                    {{ order.basket_total_excl_tax|currency:order.currency }}
                                {% else %}
                                    {{ order.basket_total_incl_tax|currency:order.currency }}
                                {% endif %}
                            </th>
                        </tr>
                    {% endif %}
                {% endblock %}
            {% endwith %}

            {% block shipping_total %}
                <tr><td class="pt-4" colspan="2"></td></tr>
                <tr>
                    <th colspan="2" class="py-3 text-left text-lg font-semibold text-gray-800">{% trans "Shipping" %}</th>
                </tr>
                <tr>
                    <td class="py-2">{% trans "Shipping method" %}</td>
                    <td class="py-2 text-right text-gray-800">{{ order.shipping_method }}</td>
                </tr>

                {% if order.has_shipping_discounts %}
                    <tr>
                        <td class="py-2">{% trans "Shipping charge (before discounts)" %}</td>
                        <td class="py-2 text-right text-gray-800">
                            {{ order.shipping_before_discounts_incl_tax|currency:order.currency }}
                        </td>
                    </tr>
                    {% for discount in order.shipping_discounts %}
                        <tr>
                            <td class="py-2 text-green-700">
                                <span class="inline-block bg-green-100 text-green-800 px-2 py-0.5 rounded text-xs font-medium">
                                    {% trans "Discount" %}
                                </span>
                                {{ discount.offer }}
                            </td>
                            <td class="py-2 text-right text-red-600">
                                - {{ discount.amount|currency:order.currency }}
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th class="py-2 font-semibold text-gray-800">{% trans "Shipping charge (after discounts)" %}</th>
                        <th class="py-2 text-right text-gray-800 font-semibold">
                            {{ order.shipping_incl_tax|currency:order.currency }}
                        </th>
                    </tr>
                {% else %}
                    <tr>
                        <th class="py-2 font-semibold text-gray-800">{% trans "Shipping charge" %}</th>
                        <th class="py-2 text-right text-gray-800 font-semibold">
                            {% if show_tax_separately %}
                                {{ order.shipping_excl_tax|currency:order.currency }}
                            {% else %}
                                {{ order.shipping_incl_tax|currency:order.currency }}
                            {% endif %}
                        </th>
                    </tr>
                {% endif %}
            {% endblock %}

            {% block surcharges %}
                {% with surcharges=order.surcharges.all %}
                    {% if surcharges %}
                        <tr><td class="pt-4" colspan="2"></td></tr>
                        <tr>
                            <th colspan="2" class="py-3 text-left text-lg font-semibold text-gray-800">{% trans "Surcharges" %}</th>
                        </tr>
                        {% for charge in surcharges %}
                            <tr>
                                <th class="py-2 font-normal text-gray-800">{{ charge.name }}</th>
                                <th class="py-2 text-right text-gray-800 font-normal">
                                    {% if show_tax_separately %}
                                        {{ charge.excl_tax|currency:order.currency }}
                                    {% else %}
                                        {{ charge.incl_tax|currency:order.currency }}
                                    {% endif %}
                                </th>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endblock %}

            {% if show_tax_separately %}
                <tr><td class="pt-4" colspan="2"></td></tr>
                <tr>
                    <th class="py-2 font-semibold text-gray-800">{% trans "Order tax" %}</th>
                    <th class="py-2 text-right text-gray-800 font-semibold">
                        {{ order.total_tax|currency:order.currency }}
                    </th>
                </tr>
            {% endif %}

            {% block post_order_action_totals %}
                {% with actions=order.post_order_actions %}
                    {% if actions %}
                        <tr><td class="pt-4" colspan="2"></td></tr>
                        <tr>
                            <th colspan="2" class="py-3 text-left text-lg font-semibold text-gray-800">
                                {% trans "Post order actions" %}
                            </th>
                        </tr>
                        {% for action in order.post_order_actions %}
                            <tr>
                                <td colspan="2" class="py-2 text-sm text-gray-700">
                                    {{ action.message }}
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            {% endblock %}

            {% block order_total %}
                <tr><td class="pt-4" colspan="2"></td></tr>
                <tr>
                    <td class="py-2 font-semibold text-gray-800">
                        <h3>{% trans "Order total" %}</h3>
                    </td>
                    <td class="py-2 text-right font-semibold text-gray-900">
                        <h3>
                            {{ order.total_incl_tax|currency:order.currency }}
                        </h3>
                    </td>
                </tr>
            {% endblock %}
        </tbody>
    </table>
</div>
