{% extends "oscar/layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Basket" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb" class="mb-4 text-sm text-gray-500">
        <ol class="flex items-center space-x-2">
            <li>
                <a href="{{ homepage_url }}" class="text-blue-600 hover:underline">
                    {% trans "Home" %}
                </a>
            </li>
            <li>/</li>
            <li class="text-gray-700">
                {% trans "Basket" %}
            </li>
        </ol>
    </nav>
{% endblock %}

{% block mini_basket %}{% endblock %}

{% block headertext %}
    {% trans "Basket" %}
{% endblock %}

{% block content %}
    {% include 'oscar/basket/partials/basket_content.html' %}
{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    var options = {
        'basketURL': '{% url 'basket:summary' %}'
    };
    oscar.basket.init(options);
{% endblock %}
