.basket-mini {
    font-size: 16px;
}

.basket-mini .basket-link {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.basket-mini .basket-link:hover {
    color: #f0f0f0;
}

.basket-mini .basket-icon {
    margin-left: 8px;
    font-size: 1.2rem;
}
